vscommerce/Connected Services/Order/OrderManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OrderManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Manager.classes/OrderManager/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Manager.classes/OrderManager/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Manager" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Manager.classes/OrderManager/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Manager.classes/OrderManager/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/dbManager.vscommerceDB" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOrderManager_getOrdersByPartner_InputMessage">
    <wsdl:part name="parameters" element="tns:getOrdersByPartner" />
  </wsdl:message>
  <wsdl:message name="IOrderManager_getOrdersByPartner_OutputMessage">
    <wsdl:part name="parameters" element="tns:getOrdersByPartnerResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderManager_getOrdersByPartner_ManagerFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Manager" name="detail" element="q1:ManagerFault" />
  </wsdl:message>
  <wsdl:message name="IOrderManager_getOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:getOrders" />
  </wsdl:message>
  <wsdl:message name="IOrderManager_getOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:getOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderManager_getOrders_ManagerFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Manager" name="detail" element="q2:ManagerFault" />
  </wsdl:message>
  <wsdl:message name="IOrderManager_createOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:createOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderManager_createOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:createOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderManager_createOrder_ManagerFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Manager" name="detail" element="q3:ManagerFault" />
  </wsdl:message>
  <wsdl:message name="IOrderManager_getOrderById_InputMessage">
    <wsdl:part name="parameters" element="tns:getOrderById" />
  </wsdl:message>
  <wsdl:message name="IOrderManager_getOrderById_OutputMessage">
    <wsdl:part name="parameters" element="tns:getOrderByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderManager_getOrderById_ManagerFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Manager" name="detail" element="q4:ManagerFault" />
  </wsdl:message>
  <wsdl:message name="IOrderManager_deleteOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderManager_deleteOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderManager_deleteOrder_ManagerFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/Manager" name="detail" element="q5:ManagerFault" />
  </wsdl:message>
  <wsdl:portType name="IOrderManager">
    <wsdl:operation name="getOrdersByPartner">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderManager/getOrdersByPartner" message="tns:IOrderManager_getOrdersByPartner_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderManager/getOrdersByPartnerResponse" message="tns:IOrderManager_getOrdersByPartner_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IOrderManager/getOrdersByPartnerManagerFaultFault" name="ManagerFaultFault" message="tns:IOrderManager_getOrdersByPartner_ManagerFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderManager/getOrders" message="tns:IOrderManager_getOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderManager/getOrdersResponse" message="tns:IOrderManager_getOrders_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IOrderManager/getOrdersManagerFaultFault" name="ManagerFaultFault" message="tns:IOrderManager_getOrders_ManagerFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="createOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderManager/createOrder" message="tns:IOrderManager_createOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderManager/createOrderResponse" message="tns:IOrderManager_createOrder_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IOrderManager/createOrderManagerFaultFault" name="ManagerFaultFault" message="tns:IOrderManager_createOrder_ManagerFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getOrderById">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderManager/getOrderById" message="tns:IOrderManager_getOrderById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderManager/getOrderByIdResponse" message="tns:IOrderManager_getOrderById_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IOrderManager/getOrderByIdManagerFaultFault" name="ManagerFaultFault" message="tns:IOrderManager_getOrderById_ManagerFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderManager/deleteOrder" message="tns:IOrderManager_deleteOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderManager/deleteOrderResponse" message="tns:IOrderManager_deleteOrder_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IOrderManager/deleteOrderManagerFaultFault" name="ManagerFaultFault" message="tns:IOrderManager_deleteOrder_ManagerFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOrderManager" type="tns:IOrderManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getOrdersByPartner">
      <soap:operation soapAction="http://tempuri.org/IOrderManager/getOrdersByPartner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ManagerFaultFault">
        <soap:fault use="literal" name="ManagerFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getOrders">
      <soap:operation soapAction="http://tempuri.org/IOrderManager/getOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ManagerFaultFault">
        <soap:fault use="literal" name="ManagerFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createOrder">
      <soap:operation soapAction="http://tempuri.org/IOrderManager/createOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ManagerFaultFault">
        <soap:fault use="literal" name="ManagerFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getOrderById">
      <soap:operation soapAction="http://tempuri.org/IOrderManager/getOrderById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ManagerFaultFault">
        <soap:fault use="literal" name="ManagerFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteOrder">
      <soap:operation soapAction="http://tempuri.org/IOrderManager/deleteOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ManagerFaultFault">
        <soap:fault use="literal" name="ManagerFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderManager">
    <wsdl:port name="BasicHttpBinding_IOrderManager" binding="tns:BasicHttpBinding_IOrderManager">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Manager.classes/OrderManager/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>