vscommerce/Connected Services/Brand/BrandManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BrandManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Manager.interfaces/BrandManager/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Manager.interfaces/BrandManager/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Manager" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Manager.interfaces/BrandManager/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Manager.interfaces/BrandManager/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/dbManager.vscommerceDB" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBrandManager_getBrands_InputMessage">
    <wsdl:part name="parameters" element="tns:getBrands" />
  </wsdl:message>
  <wsdl:message name="IBrandManager_getBrands_OutputMessage">
    <wsdl:part name="parameters" element="tns:getBrandsResponse" />
  </wsdl:message>
  <wsdl:message name="IBrandManager_getBrands_ManagerFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Manager" name="detail" element="q1:ManagerFault" />
  </wsdl:message>
  <wsdl:message name="IBrandManager_getBrandById_InputMessage">
    <wsdl:part name="parameters" element="tns:getBrandById" />
  </wsdl:message>
  <wsdl:message name="IBrandManager_getBrandById_OutputMessage">
    <wsdl:part name="parameters" element="tns:getBrandByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IBrandManager_getBrandById_ManagerFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Manager" name="detail" element="q2:ManagerFault" />
  </wsdl:message>
  <wsdl:message name="IBrandManager_updateBrand_InputMessage">
    <wsdl:part name="parameters" element="tns:updateBrand" />
  </wsdl:message>
  <wsdl:message name="IBrandManager_updateBrand_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateBrandResponse" />
  </wsdl:message>
  <wsdl:message name="IBrandManager_updateBrand_ManagerFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Manager" name="detail" element="q3:ManagerFault" />
  </wsdl:message>
  <wsdl:message name="IBrandManager_createBrand_InputMessage">
    <wsdl:part name="parameters" element="tns:createBrand" />
  </wsdl:message>
  <wsdl:message name="IBrandManager_createBrand_OutputMessage">
    <wsdl:part name="parameters" element="tns:createBrandResponse" />
  </wsdl:message>
  <wsdl:message name="IBrandManager_createBrand_ManagerFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Manager" name="detail" element="q4:ManagerFault" />
  </wsdl:message>
  <wsdl:portType name="IBrandManager">
    <wsdl:operation name="getBrands">
      <wsdl:input wsaw:Action="http://tempuri.org/IBrandManager/getBrands" message="tns:IBrandManager_getBrands_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBrandManager/getBrandsResponse" message="tns:IBrandManager_getBrands_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBrandManager/getBrandsManagerFaultFault" name="ManagerFaultFault" message="tns:IBrandManager_getBrands_ManagerFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getBrandById">
      <wsdl:input wsaw:Action="http://tempuri.org/IBrandManager/getBrandById" message="tns:IBrandManager_getBrandById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBrandManager/getBrandByIdResponse" message="tns:IBrandManager_getBrandById_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBrandManager/getBrandByIdManagerFaultFault" name="ManagerFaultFault" message="tns:IBrandManager_getBrandById_ManagerFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateBrand">
      <wsdl:input wsaw:Action="http://tempuri.org/IBrandManager/updateBrand" message="tns:IBrandManager_updateBrand_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBrandManager/updateBrandResponse" message="tns:IBrandManager_updateBrand_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBrandManager/updateBrandManagerFaultFault" name="ManagerFaultFault" message="tns:IBrandManager_updateBrand_ManagerFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="createBrand">
      <wsdl:input wsaw:Action="http://tempuri.org/IBrandManager/createBrand" message="tns:IBrandManager_createBrand_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBrandManager/createBrandResponse" message="tns:IBrandManager_createBrand_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBrandManager/createBrandManagerFaultFault" name="ManagerFaultFault" message="tns:IBrandManager_createBrand_ManagerFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBrandManager" type="tns:IBrandManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getBrands">
      <soap:operation soapAction="http://tempuri.org/IBrandManager/getBrands" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ManagerFaultFault">
        <soap:fault use="literal" name="ManagerFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getBrandById">
      <soap:operation soapAction="http://tempuri.org/IBrandManager/getBrandById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ManagerFaultFault">
        <soap:fault use="literal" name="ManagerFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateBrand">
      <soap:operation soapAction="http://tempuri.org/IBrandManager/updateBrand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ManagerFaultFault">
        <soap:fault use="literal" name="ManagerFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createBrand">
      <soap:operation soapAction="http://tempuri.org/IBrandManager/createBrand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ManagerFaultFault">
        <soap:fault use="literal" name="ManagerFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BrandManager">
    <wsdl:port name="BasicHttpBinding_IBrandManager" binding="tns:BasicHttpBinding_IBrandManager">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Manager.interfaces/BrandManager/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>